# Python
venv/
__pycache__/

# Models
component_models/
edited_components/

# Dataset
dataset_folders/
!dataset_folders/yolo_face/data.yaml
!dataset_folders/ada_face/.gitkeep

z_notes/
wandb/
lightning_logs/
logs/
checkpoints/