setuptools
wheel
numpy

requests

transformers==4.48.1
ipykernel==6.29.5 
datasets==3.1.0
huggingface-hub==0.25.1
tqdm==4.66.5
accelerate>=0.26.0
pytorch-lightning
wandb
albumentations
pycocotools
fiftyone

# ViTPose
# git+https://github.com/ViTAE-Transformer/ViTPose
# -r requirements/ViTPose/build.txt
# -r requirements/ViTPose/runtime.txt
# -r requirements/ViTPose/tests.txt
# -r requirements/ViTPose/optional.txt

# AdaFace
# git+https://github.com/Person-Recognition-for-Pose-Estimation/AdaFace
-r requirements/AdaFace/requirements.txt

# yolo-face
omegaconf==2.3.0
ultralytics>=8.3.29
-r requirements/yolo-face/requirements.txt
