# pytorch-lightning==1.8.6
# torch
#pytorch<=1.13.1
tqdm
# bcolz-zipline
prettytable
menpo

# mxnet is deprecated, and does not work on all devices: https://pypi.org/project/mxnet/
mxnet
opencv-python
